<div id="main">
  <div id="LeftSection">
    <div id="NameSection">
  <h2 appColorWhite>{{user.name}}</h2>
  </div>
  <div id="EmailSection"> 
    <p id="link" appColor>{{user.email}}</p></div>
    <div id="Bell">
    <span appColorWhite class="glyphicon glyphicon-bell" (click)="Notification()" id="link"></span>
  </div><br/>
  
  <div id="div1"><a appColor id="link" style="font-size: 16px; padding: 10px" (click)="AlertBoxUnread()">
      <span class="glyphicon glyphicon-align-left"></span>
    All Unreads</a><br/></div>
    <div id="div2"><a appColor id="link" style="font-size: 16px; padding: 10px"  (click)="AlertBoxThread()">
        <span class="glyphicon glyphicon-move"></span>
      All Threads</a></div><br/>
      <div class="ChannelSearch">
        <input id="Search" type="text" class="form-control" placeholder="Type channel name here" (keyup)="SearchChannel()" [(ngModel)]=SearchedChannel />
        <div id="SearchIcon"><span  class="glyphicon glyphicon-search"></span></div>
        <ul id="list">
          <li id="link" *ngFor='let channel of SearchedChannelArr' class="list-group-item" (click)='AllChannel(channel)'># {{channel}}</li>
        </ul>
        </div>
      <label id="link" appWhitePlus for="Channels" style="font-size: 20px; padding: 10px" (click)="SubscribedChannels()" > Channels <span *ngIf = "IsClicked1" >(Click to see)</span></label>
      <div id="Plus"><span appWhitePlus id="link" appColor class="glyphicon glyphicon-plus-sign" (click)="AddChannelIconClicked()"></span></div>
      <ul id="list"><li id="link" appColor *ngFor = "let channel of ChannelName" (click)="ViewChannelMessages(channel)" [id]="channel"> # {{channel}} </li>
      </ul> 
      <label id="link" appWhitePlus for="AllChannels" style="font-size: 20px; padding: 10px" (click)="DisplayAllChannels()">All Channels <span *ngIf = "IsClicked2" >(Click to see)</span></label>
      <div id="Remove"><span appWhitePlus id="link" appColor class="glyphicon glyphicon-remove" (click)="RemoveChannelIconClicked()"></span></div>
      <ul id="list"><li id="link" appWhitePlus *ngFor = "let channel of ChannelArr" (click)="AllChannel(channel)" [id]="channel"> # {{channel}} </li>
      </ul> 
      <label id="link" appWhitePlus for="AllChannels" style="font-size: 20px; padding: 10px" (click)="D()">Direct Messages</label>
      <div id="Plus2"><span id="link" appWhitePlus class="glyphicon glyphicon-plus-sign" (click)="Dls()"></span></div>
  </div>
  <div id="ChatSection">
    <div id="ChatHeader">
        <div id="ChannelName">
            <h1> #{{this.Channel}}</h1><br/></div>
           <div id="MembersCount"> <span  class="glyphicon glyphicon-user"></span> # {{this.count}} </div>
           <div id="infoDiv"><span id="link" class="glyphicon glyphicon-info-sign" (click)="Information()"></span></div>
           <div id="settingDiv"><span id="link" class="glyphicon glyphicon-cog" (click)="Settings()"></span></div>
           <div id="phoneDiv"><span id="link" class="glyphicon glyphicon-earphone" (click)="Phone()"></span></div>
           <div id="logoutDiv"><span id="link" class="glyphicon glyphicon-off" (click)="Logout()"></span></div>
          </div>
    <hr color="#4D394B"/>
    <div id="MessagesDiv" #msgDiv [scrollTop]="msgDiv.scrollHeight">
      <ul id="list">
        <li *ngFor = "let messagedetail of msgArr" id="messages"
        [ngClass]='{"LeftClass": messagedetail.from != user.email, "RightClass": messagedetail.from == user.email}'> 
        {{messagedetail.body}}<br/>{{messagedetail.frombracket}}
          &nbsp;{{messagedetail.time | date : 'fullDate'}}&nbsp;{{messagedetail.time | date : 'shortTime'}}
    </li></ul>
    </div>
    <div class="MessageSend">
      <input id="Send" type="text" class="form-control" placeholder="Type your message here and press enter" (keyup.enter)="Send(msg)" [(ngModel)]=msg />
      <div id="SendIcon"><span  class="glyphicon glyphicon-send"></span></div>
      
    </div>
      <!-- <button type="button" (click)="Logout()">Logout</button> -->
    </div>
  </div>
