@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
/* @import url(http://weloveiconfonts.com/api/?family=typicons); */
#main {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 630px;
}
#LeftSection {
    width: 25%;
    height: 630px;
    float: left;
    background-color: #4D384B;
}
#div1 {
    height: auto;
}
#div2 {
    height: auto;
}
#ChatSection {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 74%;
    margin-left: 26%;
    height: 630px;
    margin-bottom: 10px;
}
#EmailSection {
    text-align: center;
    margin-top: -10px;
}
#NameSection {
    text-align: center;
}
#Bell {
    margin-top: -56px;
    margin-left: 300px;
    font-size: 25px;
} 
#link {
cursor: pointer;
text-decoration: none;
}
#list li {
    cursor: pointer;
    word-wrap: break-word;
}
#Plus {
    margin-top: -37px;
    margin-left: 300px;
    font-size: 16px;
}
#Remove {
    margin-top: -32px;
    margin-left: 300px;
    font-size: 14px;
}
#Plus2 {
    margin-top: -34px;
    margin-left: 300px;
    font-size: 16px;
}
#ChatHeader {
    height: 70px;
    width: 98%;
}
#MembersCount {
    margin-top: -28px;
    margin-left: 20px;
    font-size: 20px;
}
#infoDiv {
    font-size: 28px;
    margin-left: 530px;
    margin-top: -48px;
}
#settingDiv {
    font-size: 28px;
    margin-left: 580px;
    margin-top: -40px;
}
#phoneDiv {
    font-size: 28px;
    margin-left: 480px;
    margin-top: -40px;
}
#logoutDiv {
    font-size: 28px;
    margin-left: 930px;
    margin-top: -45px;
}
#list {
    list-style: none;
    font-size: 16px;
}
#MessagesDiv {
    overflow-y: auto;
    height: 480px;
    width: 100%;
    bottom: 10px;
} 
#messages {
    width: 55%;
    border-radius: 30px 15px;
}
#MessageSend {
    height: 400px;
    width: auto;
    background-color: hotpink;
}
.LeftClass {
    float: left;
    background-color: rgb(98, 98, 216);
    border: 1px solid black;
    color: white;
    padding: 10px;
    margin: 15px
  }
  .RightClass {
    float: right;
    margin: 15px;
    background-color: lightpink;
    border: 1px solid black;
    padding: 10px;
  }
  #Send {
      width: 98%;
      padding: 16px;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
  }
  #Search {
    width: 98%;
    padding: 16px;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
}
  #SendIcon {
      margin-top: -25px;
      margin-left: 14px;
  }
  #SearchIcon {
    margin-top: -25px;
    margin-left: 14px;
}