#main {
	font-family: Georgia, serif; 
    background: url(/assets/pic.jpg) top center no-repeat #c4c4c4;
    height: 630px;
    width: auto;
}
#Login {
    position: absolute;
	font-family: Georgia, serif; 
    background: url(/assets/login-google.jpg) top center no-repeat #c4c4c4;
    border: 2px solid white;
    height: 100px;
    width: 600px;
    margin-top: 250px; 
    margin-left: 70px;
    cursor: pointer;
}
#Text {
    position: absolute;
    font-family: Georgia, serif; 
    height: 60px;
    width: 600px;
    margin-top: 150px;
    margin-left: 70px;

}